Repository tesselo/pxsearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tesselo/backend, @tesselo/admin-tesselators, @tesselo/devops

.github/CODEOWNERS:

# Code Owners Configuration file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @tesselo/backend
requirements*in @tesselo/admin-tesselators
requirements*txt @tesselo/admin-tesselators
.github/ @tesselo/devops

refactor(logging): move configure_logging to utils
  pxsearch/__init__.py
  pxsearch/utils.py
Owners: @tesselo/backend

fix(signals): initialize instrumentation inside handlers
  pxsearch/ingest/signals.py
  pxsearch/utils.py
Owners: @tesselo/backend

refactor(ci): deploy directly to production on PR merge
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

refactor(ci): deploy directly to production on PR merge
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

feat(signals): centralize signal handling
  pxsearch/ingest/const.py
  pxsearch/ingest/signals.py
  tests/test_ingest_signals.py
  zappa_settings.json
Owners: @tesselo/backend

feat(signals): centralize signal handling
  pxsearch/ingest/const.py
  pxsearch/ingest/signals.py
  tests/test_ingest_signals.py
  zappa_settings.json
Owners: @tesselo/backend

feat(ci): replace zappa with serverless for deployment
  .github/workflows/continuous_integration.yml
  .gitignore
  README.md
  dev_requirements.txt
  package-lock.json
  package.json
  requirements.in
  requirements.txt
  serverless.yml
  zappa_settings.json
Owners: @tesselo/devops, @tesselo/backend, @tesselo/admin-tesselators

feat(ci): add secrets handler
  package-lock.json
  secretsHandler.js
  serverless.yml
Owners: @tesselo/backend

fix(requirements): add missing boto3 and requests library
  requirements.in
  requirements.txt
Owners: @tesselo/admin-tesselators

feat(ci): add secrets handler
  package-lock.json
  secretsHandler.js
  serverless.yml
Owners: @tesselo/backend

fix(requirements): add missing boto3 and requests library
  requirements.in
  requirements.txt
Owners: @tesselo/admin-tesselators

feat(ci): replace zappa with serverless for deployment
  .github/workflows/continuous_integration.yml
  .gitignore
  README.md
  dev_requirements.txt
  package-lock.json
  package.json
  requirements.in
  requirements.txt
  serverless.yml
  zappa_settings.json
Owners: @tesselo/devops, @tesselo/backend, @tesselo/admin-tesselators

fix(signals): add db fixture to signal handler
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

feat(ci): limit deployment step to main merges
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(signals): add db fixture to signal handler
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

feat(ci): limit deployment step to main merges
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

feat(ci): use poetry for dependency and virtualenv management
  .github/workflows/continuous_integration.yml
  Makefile
  README.md
  dev_requirements.in
  dev_requirements.txt
  poetry.lock
  pyproject.toml
  requirements.in
  requirements.txt
Owners: @tesselo/devops, @tesselo/backend, @tesselo/admin-tesselators

feat(ci): use poetry for dependency and virtualenv management
  .github/workflows/continuous_integration.yml
  Makefile
  README.md
  dev_requirements.in
  dev_requirements.txt
  poetry.lock
  pyproject.toml
  requirements.in
  requirements.txt
Owners: @tesselo/devops, @tesselo/backend, @tesselo/admin-tesselators

fix(ci): add python setup to deploy step
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(ci): add python setup to deploy step
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(docker): adapt dockerfile to use poetry
  Dockerfile
Owners: @tesselo/backend

fix(docker): adapt dockerfile to use poetry
  Dockerfile
Owners: @tesselo/backend

refactor(logging): configure instrumentation just once
  pxsearch/ingest/signals.py
  pxsearch/utils.py
Owners: @tesselo/backend

feat(signals): send all exceptions to sentry
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

feat(signals): send all exceptions to sentry
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

refactor(logging): configure instrumentation just once
  pxsearch/ingest/signals.py
  pxsearch/utils.py
Owners: @tesselo/backend

fix(signals): raise error after capturing
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

ci(lambda): tweak lambda memory and timeout
  serverless.yml
Owners: @tesselo/backend

ci(lambda): tweak lambda memory and timeout
  serverless.yml
Owners: @tesselo/backend

fix(ingest): allow lambda access to usgs bucket
  serverless.yml
Owners: @tesselo/backend

fix(ingest): allow lambda access to usgs bucket
  serverless.yml
Owners: @tesselo/backend

fix(signals): raise error after capturing
  pxsearch/ingest/signals.py
Owners: @tesselo/backend

fix(ci): change batch build to adapt to poetry
  .github/workflows/continuous_integration.yml
  fetch_and_run.sh
  pyproject.toml
  setup.py
Owners: @tesselo/devops, @tesselo/backend

chore(build): use tech team as author
  pyproject.toml
Owners: @tesselo/backend

fix(ci): change batch build to adapt to poetry
  .github/workflows/continuous_integration.yml
  fetch_and_run.sh
  pyproject.toml
  setup.py
Owners: @tesselo/devops, @tesselo/backend

chore(build): use tech team as author
  pyproject.toml
Owners: @tesselo/backend

fix(docker): fix poetry install on docker image
  Dockerfile
Owners: @tesselo/backend

fix(docker): fix poetry install on docker image
  Dockerfile
Owners: @tesselo/backend

fix(ingestion): generalize ingestion pattern for usgs-landsat bucket signals
  pxsearch/ingest/signals.py
  pxsearch/ingest/utils.py
  serverless.yml
  tests/test_ingest_signals.py
Owners: @tesselo/backend

fix(ingestion): generalize ingestion pattern for usgs-landsat bucket signals
  pxsearch/ingest/signals.py
  pxsearch/ingest/utils.py
  serverless.yml
  tests/test_ingest_signals.py
Owners: @tesselo/backend
