Repository tesselo/pxsearch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tesselo/backend, @tesselo/admin-tesselators, @tesselo/devops

chore(deps): update dependencies
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

chore(deps): update dependencies
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

feat(db): copy migrations from stac-fastapi
  alembic/versions/5909bd10f2e6_change_item_geometry_column_type.py
  alembic/versions/821aa04011e8_change_pri_key_for_item.py
Owners: @tesselo/backend

chore(requirements): upgrade requirements
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

feat(db): copy migrations from stac-fastapi
  alembic/versions/5909bd10f2e6_change_item_geometry_column_type.py
  alembic/versions/821aa04011e8_change_pri_key_for_item.py
Owners: @tesselo/backend

chore(requirements): upgrade requirements
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

refactor(ingest): move files to new package folder
  pxsearch/ingest/const.py
  pxsearch/ingest/lsl2.py
Owners: @tesselo/backend

feat(ingest): hook S2 sns signal handler
  zappa_settings.json
Owners: @tesselo/backend

docs(readme): document alembic upgrade command
  README.md
Owners: @tesselo/backend

chore(ci): use our GitHub release action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(ci): use our GitHub release action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(ci): update the release action version
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(ci): update the release action version
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(ci): use simplified and updated release action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(ci): use simplified and updated release action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(make): remove dev_install dependency from upgrade command
  Makefile
Owners: @tesselo/backend

chore(requirements): add new and upgrade requirements
  dev_requirements.in
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

feat(isort): register profile for black compatability
  pyproject.toml
Owners: @tesselo/backend

feat(db): add db fixture to do nothing on conflict
  pxsearch/db_fixtures.py
Owners: @tesselo/backend

feat(ingest): generalize ingestion mechanism for STAC apis
  README.md
  pxsearch/ingest/__init__.py
  pxsearch/ingest/const.py
  pxsearch/ingest/lsl2.py
  pxsearch/ingest/run.py
  pxsearch/ingest/stac_api.py
  pxsearch/ingest/utils.py
  run_ingest.sh
  tests/conftest.py
  tests/test_ingest_item.py
  tests/test_ingest_run.py
  tests/test_ingest_stac_api.py
  tests/test_ingest_utils.py
Owners: @tesselo/backend

fix(ci): add dev requirements to test action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

feat(ci): add package build and package deploy to ci
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

chore(requirements): add new and upgrade requirements
  dev_requirements.in
  dev_requirements.txt
  requirements.in
  requirements.txt
Owners: @tesselo/backend, @tesselo/admin-tesselators

feat(ingest): generalize ingestion mechanism for STAC apis
  README.md
  pxsearch/ingest/__init__.py
  pxsearch/ingest/const.py
  pxsearch/ingest/lsl2.py
  pxsearch/ingest/run.py
  pxsearch/ingest/stac_api.py
  pxsearch/ingest/utils.py
  run_ingest.sh
  tests/conftest.py
  tests/test_ingest_item.py
  tests/test_ingest_run.py
  tests/test_ingest_stac_api.py
  tests/test_ingest_utils.py
Owners: @tesselo/backend

feat(isort): register profile for black compatability
  pyproject.toml
Owners: @tesselo/backend

fix(ci): add dev requirements to test action
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

feat(db): add db fixture to do nothing on conflict
  pxsearch/db_fixtures.py
Owners: @tesselo/backend

feat(ci): add package build and package deploy to ci
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(make): remove dev_install dependency from upgrade command
  Makefile
Owners: @tesselo/backend

feat(db): add drop-view function
  pxsearch/models/view.py
Owners: @tesselo/backend

feat(setup): add explicit version to repository
  pxsearch/__init__.py
  setup.py
Owners: @tesselo/backend

feat(db): add drop-view function
  pxsearch/models/view.py
Owners: @tesselo/backend

feat(ci): add docker image build to ci
  .github/workflows/continuous_integration.yml
  Dockerfile
  MANIFEST.in
  fetch_and_run.sh
  pxsearch/ingest/run.py
Owners: @tesselo/devops, @tesselo/backend

feat(ci): add docker image build to ci
  .github/workflows/continuous_integration.yml
  Dockerfile
  MANIFEST.in
  fetch_and_run.sh
  pxsearch/ingest/run.py
Owners: @tesselo/devops, @tesselo/backend

fix(ci): use commit id for dist package name
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

fix(stac): handle case when item geometry is null
  pxsearch/ingest/utils.py
Owners: @tesselo/backend

fix(ingest): correct start and end year in ingest range
  pxsearch/ingest/run.py
Owners: @tesselo/backend

fix(ingest): correct start and end year in ingest range
  pxsearch/ingest/run.py
Owners: @tesselo/backend

fix(stac): handle case when item geometry is null
  pxsearch/ingest/utils.py
Owners: @tesselo/backend

fix(ci): use commit id for dist package name
  .github/workflows/continuous_integration.yml
Owners: @tesselo/devops

.github/CODEOWNERS:

# Code Owners Configuration file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @tesselo/backend
requirements*in @tesselo/admin-tesselators
requirements*txt @tesselo/admin-tesselators
.github/ @tesselo/devops
